extends ../template

block content
    .wrapper
        header.header
            include ../common/header
        //end of header
        main.main
            .container
                include ../common/form
        //end of main
        .burger-menu-wrap
            include ../common/burger-menu
