block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Tickets
        link(rel="stylesheet", href="assets/scripts/air-datepicker-master/datepicker.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css")
        link(rel="stylesheet", href="assets/styles/main.min.css")
    body
        block content
        script(src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous")
        script(src="https://maps.googleapis.com/maps/api/js?types=(cities)&libraries=places&language=en&key=AIzaSyDhFcnUgNKcBjCyObb4NL1UwHkEl94CzXs")
        script(src="assets/scripts/air-datepicker-master/datepicker.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
        script(src="assets/scripts/main.js")