.header {
    width: 100%;
    background-color: $lightblue;

    @include laptop {
        padding: 0 15px;
    }

    @include tablets {
        padding: 5%;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;

        @include laptop {
            flex-wrap: wrap;
        }

        @include tablets {
            display: none;
        }

        .header__list {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 163px;
            height: auto;
            overflow: hidden;
            transform: scaleY(0);
            transform-origin: 0 0;
            transition: .3s;
            border: 1px solid #d7d7d7;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            background-color: #fff;
            color: #000;
        }
    }

    &__item {
        position: relative;
        padding: 16px 7px 13px;
        transition: .3s;
        cursor: pointer;

        &:hover {
            background-color: $hover-orange;

            .header__list {
                transform: scaleY(1);
                z-index: 5;
            }
        }

        &_root:after {
            content: '';
            display: inline-block;
            height: 0;
            width: 0;
            margin-left: 5px;
            border: 6px solid transparent;
            border-top-color: #fff;
            border-bottom-width: 0;
        }

        &_subitem {
            padding: 11px 13px;
            font-size: 14px;
            font-weight: 400;
            text-transform: none;
            transition: .3s;

            &:hover {
                background-color: #bfd8eb;
            }
        }
    }
    
    &__menu {
        width: 90%;
    }

    &__sign-in {
        position: relative;
        margin: 0 auto;
        width: 10%;
        text-align: right;
        opacity: .5;
        transition: opacity .3s;
        text-decoration: underline;

        @include tablets {
            width: 100px;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 28%;
            width: 12px;
            height: 15px;
            background-image: url("../images/person.svg");
            background-repeat: no-repeat;

            @include laptop {
                left: 15%;
            }

            @include phones480 {
                left: 10%;
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}
